@import url("https://fonts.googleapis.com/css2?family=Fascinate&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500&display=swap");

$Fascinate: "Fascinate", cursive;
$HindSiliguri: "Hind Siliguri", sans-serif;
.fascinate {
  font-family: $Fascinate;
}
.hind_siliguri {
  font-family: $HindSiliguri;
}
// $color-primary: #ff5007;
// $color-secondary: #00043c;

$color-primary: #30d5c8;
$color-dark-primary: #026159;
// $color-secondary: #a9203e;
$color-secondary: #ca4260;
$color-dark-secondary: #74182c;
$color-background: #f0fffa;
$color-shadow: #cdcdcdba;

$transition-primary: all 0.1s linear;

main,
body,
* {
  margin: 0;
  padding: 0;
  font-family: $HindSiliguri;
  font-weight: 500;
}
body {
  background-color: $color-background;
}
a {
  height: max-content;
  text-decoration: none;
}
h1 {
  font-family: $Fascinate;
}

input {
  background-color: $color-secondary;
  color: $color-background;
  border: 1px solid $color-secondary;
  font-size: 1rem;
  border-radius: 7px;
  height: 35px;
  outline: none;
  transition: $transition-primary;
}
input::placeholder {
  color: $color-background;
}
input:hover,
input:focus,
select:hover,
select:focus {
  background-color: #e7748d !important;
  color: $color-background !important;
  border: 1px solid #e7748d !important;
  cursor: pointer;
}
button {
  border: 1px solid $color-primary;
  background-color: $color-background;
  color: $color-primary;
  outline: none;
  border-radius: 5px;
}
button:hover {
  border: 1px solid $color-background;
  background-color: $color-primary;
  color: $color-dark-primary;
  cursor: pointer;
}
.logo-svg {
  fill: $color-background;
  width: 40px;
}
.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}
