$Fascinate: "Fascinate", cursive;
$HindSiliguri: "Hind Siliguri", sans-serif;
$color1: #001e38;
$color2: chartreuse;
$color3: #f0fffa;
input,
select,
option,
textarea {
  outline: none;
}
.information-box {
  padding: 25px;
}

.no-info {
  color: $color3;
  margin-top: 15px;
}
.header--information {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.avatar {
  background: $color1;
  width: max-content;
  height: max-content;
  border-radius: 100%;
  border: 1px solid $color2;
}
.header--information p {
  color: $color3;
  font-size: 1rem;
}

.header-info-edit {
  display: flex;
  gap: 35px;
  align-items: center;
}
.header-info-edit button {
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  border: none;
  background: none;
  fill: $color3;
  transition: all 0.1s linear;
}
.header-info-edit button:hover {
  background-color: $color3;
  fill: $color1;
  cursor: pointer;
}
.main-information {
  display: grid;
  // grid-template-columns: 1fr 1fr;
  width: max-content;
  grid-column-gap: 25px;
  margin-left: 10%;
  margin-top: 15px;
}
.info-prop {
  color: $color2;
  font-weight: 300;
}
.info-value {
  color: $color3;
}
.main-information p {
  color: $color2;
}

//create
.create-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 15px;
  color: $color3;
}
.create-info input {
  padding-left: 10px;
}
.create-info input[type="text"],
.create-info input[type="date"] {
  margin-bottom: 7px;
  width: calc(100%-7px);
}
.create-main-info,
.create-work {
  display: flex;
  flex-direction: column;
  width: 300px;
}
// #create-firstName,
// #create-secondName {
//   margin-bottom: 7px;
// }
.gender-radio,
.work-radio,
.study-radio {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid $color2;
  margin-bottom: 7px;
}
.work-radio label,
.study-radio label,
.gender-radio label {
  display: flex;
  align-items: center;
  gap: 4px;
}
#country {
  border-radius: 7px;
  height: 35px;
  background: none;
  color: $color3;
  border: 1px solid $color2;
}
.create-submit-button {
  width: 150px;
  height: 30px;
  font-size: 1rem;
  background: $color3;
  color: $color1;
  border: 1px solid $color1;
  transition: all 0.1s linear;
  margin-top: 15px;
  border-radius: 5px;
}
.create-submit-button:hover {
  background-color: $color1;
  color: $color2;
  border-color: $color2;
  cursor: pointer;
}
//___create
