$Fascinate: "Fascinate", cursive;
$HindSiliguri: "Hind Siliguri", sans-serif;
$color1: #001e38;
$color2: chartreuse;
$color3: #f0fffa;
.bgc_c1 {
  background-color: $color1;
}
.bgc_c2 {
  background-color: $color2;
}
.bgc_c3 {
  background-color: $color3;
}
.c_c1 {
  color: $color1;
}
.c_c2 {
  color: $color2;
}
.c_c3 {
  color: $color3;
}

@import url("https://fonts.googleapis.com/css2?family=Fascinate&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500&display=swap");
main,
body,
* {
  margin: 0;
  padding: 0;
  font-family: $HindSiliguri;
  font-weight: 500;
}
body {
  background-color: $color1;
}
.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}
h1 {
  font-family: $Fascinate;
  color: $color2;
}

input {
  background-color: $color1;
  color: $color3;
  border: 1px solid $color2;
  font-size: 1rem;
  border-radius: 7px;
  height: 35px;
  outline: none;
  transition: all 0.1s linear;
}
input:hover,
input:focus {
  background-color: $color3;
  color: $color1;
  border: 1px solid $color3;
  cursor: pointer;
}
button {
  outline: none;
}

// --------SIGN_IN_________
.auth_box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.auth_area {
  position: relative;
  border: 1px solid $color2;
  padding: 30px 30px 80px 30px;
  border-radius: 15px;
  overflow: hidden;
}
.auth_area h1 {
  text-align: center;
}
.auth_form {
  display: flex;
  flex-direction: column;
}
.auth_input {
  width: 250px;
  margin: 5px;
  padding-left: 15px;
}
.auth_button {
  height: 60px;
  position: absolute;
  bottom: -1px;
  left: -1px;
  right: -1px;
  width: 101%;
  border-radius: 0px 0px 15px 15px;
  border: 1px solid $color2;
  background: none;
  font-family: $Fascinate;
  color: $color3;
  font-size: 2rem;
  transition: all 0.1s linear;
}
.auth_button:hover {
  cursor: pointer;
  background-color: $color2;
  color: $color1;
}
.from_sign_to_reg {
  position: absolute;
  top: 2px;
  right: 10px;
  color: $color3;
  transition: all 0.1s linear;
  text-decoration: underline;
  font-size: 0.9rem;
}
.from_sign_to_reg:hover {
  cursor: pointer;
  color: $color2;
}
.error {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  background-color: $color1;
  align-items: center;
  font-size: 1.2rem;
  color: $color3;
}
// ________SIGN_IN---------

//---------HEADER__________
.createButton,
.logoutButton {
  width: 100px;
  height: auto;
  background: none;
  border: 1px solid $color3;
  border-radius: 7px;
  color: $color3;
  font-size: 1.5rem;
  font-family: $Fascinate;
  transition: all 0.1s linear;
}
.createButton:hover,
.logoutButton:hover {
  cursor: pointer;
  color: $color1;
  background-color: $color3;
  border-radius: 7px;
}
.save {
  background-color: $color3;
  border: none;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 7px;
  transition: all 0.1s linear;
}
.save:hover {
  background-color: $color2;
  cursor: pointer;
}
//_________HEADER----------

//---------CREATE__________
.settings {
  background-color: $color3;
}
.settings_figure {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.settings_figure:hover {
  background-color: $color2;
  cursor: pointer;
}
.circle,
.rectangle {
  width: 30px;
  height: 30px;
  border: 2px solid $color1;
}
.circle {
  border-radius: 100%;
}
.line {
  width: 35px;
  height: 3px;
  background-color: $color1;
}
.settings button {
  width: 50px;
  height: 50px;
  background-color: $color1;
  border: none;
  border-radius: 50%;
  color: $color3;
  transition: all 0.1s linear;
}
.pencil:hover,
.settings button:hover {
  background-color: $color2;
  color: $color1;
  cursor: pointer;
}
.settings_color input {
  background-color: $color3 !important;
}
canvas {
  background-color: $color3;
  // border: 1px solid $color2;
}
//_________CREATE----------

//---------MAIN____________
.picture_box {
  display: grid;
  justify-content: center;
  background: $color3;
  width: max-content;
  padding: 15px;
  border-radius: 7px;
  margin: 30px auto;
}
//__________MAIN-----------
